<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <test name="1 Register new user">
       <classes>
           <class name="testcases.TC02_RegisterTest">
               <methods>
                   <include name="checkRegisterWithValidData_P"/>
               </methods>
           </class>
       </classes>
   </test>
    <test name="Login with registered data">
        <classes>
            <class name="testcases.TC01_Login">
                <methods><include name="checkLoginWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>

<!--    <test name="Check Hover random category">-->
<!--        <classes>-->
<!--            <class name="testcases.TC01_Login">-->
<!--                <methods>-->
<!--                    <include name="checkLoginWithValidData_P"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testcases.TC06_CategoryTest">-->
<!--                <methods><include name="checkHoverOnCategory"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    
</suite>